.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.2vw solid rgb(74, 113, 242);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.navbar .link{
    width: 20%;
    padding-left: 1%;
}
.navbar .links{
    width: 35%;
    margin-left: 10%;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}
.navbar .sign-links{
    margin-left: 10%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .sign-links a{
    width: 40%;
    text-align: center;
}
.navbar a{
    text-decoration: none;
}
.sign-links a:hover{
    opacity: 80%;
    cursor: pointer;
}
.sign-links img{
    width: 3vw;
    height: 3vw;
}
.link img{
    width: 10vw;
    height: 3vw;
}
.links a:hover{
    opacity: 50%;
}
.links a{
    color: black;
}