<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="message">
            <form (submit)="createMessage()">

            </form>
            <label for="lblTitreMessage" name="lblTitreMessage" id="lblTitreMessage">Titre du message : </label>
            <br>
            <input type="text" [(ngModel)]="formData.titre">
            <br>
            <label for="lblDateMessage" name="lblDateMessage" id="lblDateMessage">Date : </label>
            <br>
            <input type="text" [(ngModel)]="formData.date" disabled>
            <br>
            <label for="lblAuteurMessage" name="lblAuteurMessage" id="lblAuteurMessage">Auteur : </label>
            <br>
            <input type="text" value="{{nom}}">
            <br>
            <label>Contenu du message : </label>
            <br>
            <textarea for="contenuMessage" name="contenuMessage" id="contenuMessage" rows="4" cols="50" placeholder="Saisissez votre message" [(ngModel)]="formData.contenu"></textarea>
            <a href="" class="creer">Publier le message</a>        
        </div>
    </body>
</html>

